
header{
    background-color:aliceblue;
text-align:center;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar {
    text-align:center;
    color:lightblue;
    font-size:medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
   margin:0px;
   gap:0px;
   margin-top: 0px; 
   margin-bottom: 0px;
   gap:0px;

}
.container p {
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
html, body {
    margin: 0;
    padding: 0;
    margin-top:0%;
    margin-bottom:0%;
height:150kvh;
 gap:0px;   
background-color:lavender;
}
.main {
    padding:0;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
   
    background-color: lavender;
    background-size:cover;
    background-position:center;
    height:815px;
margin-left:10px;
}

p1,p2,p3{
    text-align: left;
    font-family:sans-serif;
border-radius:10px;
margin-top:10px;
}
.section{
display:flex;
padding:10px;
margin-left:10px;
border-radius:40px;

margin-bottom:15px;
}

.section img{
    border-radius:20px;
    margin-right:15px;
    margin-left:15px;
float:right;
width:300px;
height:200px;
}

footer{
    
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align:center;

height:100px;

background-position:center;

}



.data-box1, .data-box2{
  
border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  background: #f9f9f9;
  border-radius: 20px;
  width: 500px;
 background-color:lavenderblush;
    margin-top:40px;
  vertical-align: top;
  float:inline-start;


 

}
.data-box3,.data-box4{
 border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  background: #f9f9f9;
  border-radius: 20px;
  width: 500px;
 background-color:lavenderblush;
    margin-top:20px;
  vertical-align: top;
    
  float:inline-end;
    
}

.data-boxx, .data-boxy{
display:flex;
flex-direction:column;
gap:30px;


}
.container{
  display: flex;
  gap: 50px;
}
h1,h2{
    color:#204080;
}
.data-boxj , .data-boxk , .data-boxi{

border:1px solid lightslategray;
border-radius:20px;
padding:30px;
margin:20px;
font-family:'Times New Roman', Times, serif
}
.data-boxj p5 , .data-boxk p5 , .data-boxi p5 , .mission-box p5 , .vision-box p5 , .dreams-box p5{
    text-align:center;
  
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size:large;
}
.vision-box , .dreams-box ,.mission-box{
    border:1px solid lightslategray;
    border-radius:20px;
    padding:30px;
    margin:20px;
    font-family:'Times New Roman', Times, serif
}
nav a:hover{
    color: aqua;
}