header{
    background-color:aliceblue;
text-align:center;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    text-align:center;
    color:lightblue;
    font-size:medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
   margin:0px;
   gap:0px;
   margin-top: 0px; 
   margin-bottom: 0px;
   gap:0px;

}
html, body {
    margin: 0;
    padding: 0;
    margin-top:0%;
    margin-bottom:0%;
height:150kvh;
 gap:0px;   
background-color:lavender;
}
.main {
    padding:0;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
   
    background-color: lavender;
    background-size:cover;
    background-position:center;
    height:815px;
margin-left:10px;
}

p1,p2,p3{
    text-align: left;
    font-family:sans-serif;
border-radius:10px;
margin-top:10px;
}
.section{
display:flex;
padding:10px;
margin-left:10px;
border-radius:40px;

margin-bottom:15px;
}

.section img{
    border-radius:20px;
    margin-right:15px;
    margin-left:15px;
float:right;
width:300px;
height:200px;
}

footer{
    
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align:center;

height:100px;

background-position:center;

}



.data-box1,.data-box2,.data-box3,.data-box4{
  
border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  background: #f9f9f9;
  border-radius: 8px;
  width: 500px;
background-color:aqua;
  vertical-align: top;

}
.container{
  display: flex;
  gap: 20px;
}
h1,h2{
    color:#204080;
}